body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 100%;
}

.jumbotron {
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(230, 151, 6, 0.5);
  background-color: transparent;
  color: rgb(8, 49, 255);
  border-radius: 0;
  margin-bottom: 10px;
  background-image: url("../images/backgroundImage_edited.jpg");
  background-image: -o-repeating-linear-gradient();
  background-size: contain;
  
  /* border-bottom: 10px solid black; */
}

.fontOpac {
  opacity: 0.2;
}

.lead {
  background-color: beige;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  /* height: 80px; */
  margin-top: 0;
  /* border-top: 5px solid rgb(12, 11, 11);; */
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

ul li {
  list-style: none;
}

#saveBtn {
  list-style: none;
  margin: 0;
}

.saveBtn {
  border-left: 2px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn :hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
